html{
    background: url(NBG1.svg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{ 
    text-align: center;  
    
    font-family : 'Josefin Sans';
    /* font-weight: 900;  */
} 

h1{ 
  color: white; 
  font-weight: 900; 
  font-size: 6.5vw; 
  margin: 3vh 0px; 
  letter-spacing: 0.05em;
} 
.iecse-logo{
    position: absolute;
    width:5vw;
    height:5vw;
    left:0;
    top:0;
    margin:3vh;
}
.hawk-logo{
    position: absolute;
    width:5vw;
    height:5vw;
    right:0;
    top:0;
    margin:3vh;
}
.center-text{
    color:white;
    font-size: 3.5vw;
    letter-spacing: 0.2em;
    margin-top:20vh;
}
 #timer{ 
    
    color: #fff; 
    display: inline-block; 
    text-align: center; 
    /* margin-top: 5vh; */
} 
#timer > div{ 
    padding-top: 1vw; 
    /* border-radius: 3px;  */
    /* background: #11ABC1;  */
    display: inline-block; 
} 
#timer div > span{ 
    padding: 1vh; 
    display: inline-block;
    font-size : 12vw; 
} 
.text{ 
    
    font-size: 3vw; 
} 
.col{
    margin-bottom:0.5vh;
}
