body{ 
    text-align: center;  
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    background-image: url(https://cyberhawk.iecsemanipal.com/bg.svg) ;
    font-family: sans-serif; 
    font-weight: 100; 
} 
h1{ 
  color: white; 
  font-weight: 100; 
  font-size: 50px; 
  margin: 40px 0px 20px; 
} 
 #timer{ 
    font-family: sans-serif; 
    color: #fff; 
    display: inline-block; 
    font-weight: 100; 
    text-align: center; 
    font-size: 30px; 
    margin-top: 5vh;
} 
#timer > div{ 
    padding: 10px; 
    border-radius: 3px; 
    background: #11ABC1; 
    display: inline-block; 
} 
#timer div > span{ 
    padding: 15px; 
    border-radius: 3px; 
    background: #252669; 
    display: inline-block; 
} 
.text{ 
    padding-top: 5px; 
    font-size: 16px; 
} 
#timeup{
    color:white;
}
